@model LinkKeeper.Entities.Link
@{    
    ViewBag.Title = "LinkKeeper | My Links";
}
<h4>My Links</h4>
<div class="divider"></div>
<section class="section">
    <table class="responsive-table">
        <thead>
            <tr>
                <th>URL</th>
                <th>Name</th>
                <th>Category</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="linksTableBody">
            
        </tbody>        
    </table>    
    <div class="divider"></div>
</section>
<section class="section center">
    <button id="btnOpenLinkModal" class="btn btn-floating amber accent-4"><i class="large material-icons">add</i></button>
</section>
<section class="section">
    <div id="loader" style="display:none" class="cssload-thecube">
        <div class="cssload-cube cssload-c1"></div>
        <div class="cssload-cube cssload-c2"></div>
        <div class="cssload-cube cssload-c4"></div>
        <div class="cssload-cube cssload-c3"></div>
    </div>
</section>
<div id="modalLink" class="modal">    
        <div class="modal-content">
            <div class="input-field">
                @Html.TextBoxFor(m => m.Url)
                @Html.LabelFor(m => m.Url)
            </div>
            <div class="input-field">
                @Html.TextBoxFor(m => m.Name)
                @Html.LabelFor(m => m.Name)
            </div>
            <div class="input-field">
                @Html.TextBoxFor(m => m.Category)
                @Html.LabelFor(m => m.Category)
            </div>
            <div id="linkErrors" class="section red-text">
            </div>
        </div>
        <div class="modal-footer">
            <button id="btnAddLink" class="modal-action btn btn-large btn-floating amber accent-4"><i class="material-icons">done</i></button>
        </div>    
</div>
@section Scripts{
<script>
    $(document).ready(function () {
        getLinks();
    }) 
          
   
</script>
}
