<!DOCTYPE html>
<html>
<head>
    <base href="/" />
    <meta charset="utf-8" />        
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>LinkKeeper</title>
    @Styles.Render("~/bundles/css")  
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
    @Scripts.Render("~/bundles/appScripts")
    
</head>
<body>
    <nav class="indigo darken-4">
        <header class="nav-wrapper container">
            <a href="/" class="brand-logo">LinkKeeper</a>
            <ul class="right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("My Links", "Links", "Home")</li>
                    <li>|</li>
                    <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Login", "Login", "Home")</li>
                    <li>|</li>
                    <li>@Html.ActionLink("Register", "Register", "Home")</li>
                }
            </ul>
        </header>
    </nav>       
    <div class="container" ng-app="linkKeeperModule">
        @RenderBody()
    </div>        
  
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
